.container {
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to right, #ffffff, #559fe9);
  }
  
  .header {
    text-align: center;
    margin:None;
  }
  .Mytodos{
    
    height:100vh;
  }
.input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

#addbutton{
    height:30px;
    width:100px;
    border-radius: 6px;
    background-color: rgb(167, 244, 167);
}

.inputs{
    margin-left: 10px;
    margin-right: 10px;
}



.todos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    

  }
  
  .todo {
    min-height: 250px;
    width: 400px;
    background-color: rgb(103, 156, 255);
    
    
    position: relative;
    border-radius: 7px;
    border: 2px solid black;
    padding: 7px;
    
  }
  
  .todo-actions {
    position: absolute;
    margin: 5px;
    bottom: 0;
    right: 0;
  }
  

  .modify{
    margin: 2px;
  }
#filter{
  height:30px;
    width:100px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}
#status{
  height:30px;
    width:100px;
    border-radius: 6px;
  
}
.todo-description {
  max-width: 100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.Mytodos {
  word-wrap: break-word;
}